name: workflow_01
on:
  workflow_dispatch:
     inputs:
      workflow_02:
        description: 'Ù‹Workflow 2 which will be triggered'
        required: true
        

      workflow2_github_account:
        description: 'GitHub Account Owner'
        required: true
        default: 'annamalaiponnusamy'

      workflow2_repo_github:
        description: 'repo-name'
        required: true
        default: 'repo_02' 

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      First_Name: Annamalai
      IC_ASPF_WINSIPS: ${{ vars.IC_ASPF_WINSIPS }}
    
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - name: Test         
        run: |
          echo '${{ vars[format(env.IC_ASPF_WINSIPS)] }}' > variable.json
          echo "Value of inputs.workflow_02:  ${{ inputs.workflow_02 }}"
          echo "Value of Env: $First_Name"
          echo "My Github repo is called ${{ github.repository }}"
          echo "Value of ACTIONS_KEY: ${{ secrets.ACTIONS_KEY }}"
          echo "Value of IC_ASPF_WINSIPS: ${{ vars.IC_ASPF_WINSIPS }}"
          curl -X POST https://api.github.com/repos/annamalaiponnusamy/repo_02/dispatches \
          -H 'Accept: application/vnd.github.everest-preview+json' \
          -u ${{ secrets.ACTIONS_KEY }} \
          --data '{"event_type": "Trigger Workflow", "client_payload": { "repository": "'${{ github.event.inputs.workflow_02 }}'" }}'
      - uses: actions/checkout@v3
